*{
    border-radius: 0px !important;
}

body{
    background: #f7f7f7;
 //   overflow-x: hidden;
}

iframe{
    border: 0px;
}

select{
    border: 0px;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    //font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    //background: #cfd8dc;
    outline: none;
}

select option{
    border: 0px;
}

.waitBlock{
    margin: 2rem auto;
    width: 90%;
    display: block;
    height: 40px;
    padding: 1rem;
    font-family: "Open Sans", sans-serif;
}

/*** Double Bounce ***/
.bounceContainer{
    margin: auto;
    position: relative;
    width: 40px !important;
    height: 40px !important;
    margin-bottom: 0.6rem;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  border-radius: 50% !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  background: #27AE60;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  -moz-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  -moz-animation-delay: -1.0s;                                          
  animation-delay: -1.0s;
  background: #2980B9;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@-moz-keyframes bounce {
  0%, 100% { -moz-transform: scale(0.0) }
  50% { -moz-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0)
  }
}

.topBar{
    background: #34495E;
    padding: 10px;
    height: 45px;
    border-bottom: 4px solid #16A085;
}

.footer{
    padding-top: 47px;
    padding-bottom: 48px;
    font-size: 17px;
    //background: #39b1a4;
    background: #34495E;
    text-align: center;
    font-weight: 300;
    text-align: center;
    color: white;
    display: none;
    font-family: 'Open Sans', sans-serif;
    border-top: 4px solid #16A085;
}

.logindiv{
    margin: 10rem auto;
    width: 90%;
    background: rgba(0,0,0,0.4);
    padding: 4rem;
    border-top: 7px solid rgba(100,100,100,0.3);
    border-bottom: 7px solid rgba(100,100,100,0.3);
}


.logindiv tr{
    vertical-align: top;
}

.resMsg{
    color: #C0392B;
}

.display{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 32rem;
    line-height: 20rem;
    font-weight: bolder;
    color: #ff5722;
    text-transform: uppercase;
    margin-top: -4rem;
}

.loginholder{
    width: 100%;
    //border-left: 1px solid #fcfcfc;
    padding-left: 2rem;
}

.login{
    width: 100%;
    min-height: 450px;
    background: #fafafa;
    position: relative;
}

.login .topdiv{
    padding: 1.5rem;
    background: rgb(66, 133, 244);
    overflow: hidden;
}

.login .topdiv h1{
    //font-family: "Open Sans", sans-serif;
}

.loginsmall{
    width:80%;
    height: 300px;
    padding:2rem;
    background: #fcfcfc;
    
    border-top: 0px;
    marginTop:-3rem;
    position:absolute;
    left:50%;
}

.login input, .newusersignup input{
    border: 0px !important;
    border-bottom: 1px solid rgba(52,73,94,0.1) !important;
    border-radius: 0  !important;
    display: block  !important;
    outline: none;
    padding: 1.2rem  !important;
    width: 100%  !important;
    box-sizing: border-box;
    
    margin-bottom: 0.5rem;
}

.loginInput{
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
}

.loginInput input{
    background: transparent !important;
    font-size: 1.6rem;
    color: #5677fc;
    outline: none !important;
}

.loginInput .belowborder{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0.07rem;
    background: #4db6ac;

    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;

    -webkit-transform:scale(0);
    -moz-transform:scale(0);
}

.belowborder.belowborderanimate{
    //-webkit-animation: bborderanim 0.6s ease-in;
    //-moz-animation: bborderanim 0.6s ease-in;
     -webkit-transform:scale(1);
     -moz-transform:scale(1);
}

.loginInput .fakePlaceholder{
    text-transform: lowercase;
    position: absolute;
    top: 14px;
    left: 10px;
    z-index: 5;
    color: #009688;
    pointer-events: none;
    display: inline-block !important;
    //font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    -webkit-transition: all 0.14s ease-out;
    -moz-transition: all 0.14s ease-out;
}

.loginInput .fakePlaceholder.fakeAnimate{
    top: -5px;
    left: 6px;
    font-size: 1.1rem;
    color: #16A085;
}

/* HIGHLIGHTER ================================== */
.loginInput > .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:60px;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.loginInput input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5677fc; }
  to 	{ left:0;width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5677fc; }
  to 	{ left:0; width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5677fc; }
  to 	{ left:0;width:0; background:transparent; }
}

#topfixeddiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 1rem;
    background: rgba(0,0,0,0.6);
    z-index: 20;
}

#topfixeddiv tr{
    vertical-align: middle;
}

#topfixeddiv a{
    font-size: 2rem;
    text-decoration: none;
}

.carousel{
    height: 500px;
    overflow: hidden;
    position: relative;
}

.carousel .eachcarousel{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 560px;
}

.carousel .eachcarousel .content{
    position: absolute;
    left: 0;
    top: 170px;
    width: 100%;
    text-align: center;
    font-size: 4rem;
}

.carousel .eachcarousel .content .heading{
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 11rem;
    line-height: 7rem;
    font-weight: bolder;
    color: rgba(250,250,250,0.9);
}

.carousel .eachcarousel .content .text{
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
    color: rgba(230,230,230,0.6);
}

.topdivcarousel{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0px;
    height: 50px;
    //background: rgba(250,250,250,0.4);
    z-index: 10;
    font-family: "Montserrat", sans-serif;
    font-size: 45.5rem;
    color: rgba(0,0,0,0.15);
}

.mainheading{
    background: rgba(240,240,240,0.7);
    padding: 0.8rem;
    border: 1px solid rgba(0,0,0,0.07);
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
}

.mainContent{
    margin: 2rem auto;
    width: 97%;
}

.maintext{
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

.video{
    width: 100%;
}

.viddesc{
    padding: 1.2rem;
    background: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.1);
    border-top: 0px;
}

.split{
    width: 100%;
}

.split table tr{
    vertical-align: top;
}

.details{
    padding: 2rem;
}

.details .detail{
    background: rgba(235,235,235,0.95);
    color: #777777;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-left: 8px solid #009688;
}

.categories{
    margin: 1rem auto;
    position: relative;
}

.backbar{
    width: 100%;
    height: 50px;
    background: #03a9f4;
    border-bottom: 9px solid #0288d1;
    margin-top: -2rem !important;
}

.categorieslist{
    margin-top: 10px !important;
}

.category{
    margin: auto;
    width: 90%;
    position: relative;
    box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.2);
    opacity: 0;
    margin-top: 1rem;
    overflow: hidden;
}

.box{
    width:100%;
    position: relative;
}

.topdiv{
    position: relative;
    display: block;
}

.topdiv, .bottomdiv{
    width: 100%;
}

.bottomdiv{
    padding: 2rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    overflow: hidden;
    position: relative;
}

.bottomdiv > p{
    position: absolute;
    bottom: -0.9rem;
    left: 0.5rem;
    font-family: Segoe UI, sans-serif;
    font-size: 15rem;
    font-weight: bolder;
    color: rgba(0,0,0,0.04);
}

.category .box .topdiv p{
    position: absolute;
    left: 0.6rem;
    bottom: 0.6rem;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 3rem;
    line-height: 2.5rem;
    z-index: 5;
}

.details .detail span.num{
    font-size: 4rem;
    color: #E67E22;
}

.Collage img{
    opacity:0;
    box-shadow:0px 3px 4px #dcdcdc;
    border-radius: 6px;
    /* 
    * Change this to try different borders
    */
    border:6px solid #FFF;
}
 .Collage{
    /* 
     * Change this to set the spacing of the images in the grid
     */
    padding:10px;
  }


/* EFFECT 2 */
.effect-2 {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp ease forwards;
    -moz-animation: moveUp ease forwards;
    animation: moveUp ease forwards;
}

@-webkit-keyframes moveUp {
    to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
    to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
    to { transform: translateY(0); opacity: 1; }
}

.shop{
    margin: 1rem auto;
    width: 90%;
    position: relative;
}

.shopitemslist{
   width: 100%;
}

.shopitem{
    float: left;
    margin-bottom: 0.9rem;
    width: 24.5%;
    opacity: 0;
    position: relative;
    overflow: hidden;
 }

.shopitem.w2{
    width:49.5%;
}

.shopitem .itemdesc{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    padding-bottom: 0px;
    background: rgba(230,230,230,0.9);
    font-size: 1.8rem;
    //font-family: "Open Sans", sans-serif;
    color: #01579b;
    opacity: 0;
    z-index: 5;
    
    -webkit-transition:all 0.25s ease-out;
    -moz-transition:all 0.25s ease-out;
    
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
}

.shopitem:hover .itemdesc{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    opacity:1;
}

.itemdesc label{
    color: #f4511e;
}

.shopitem:hover .top{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
}

.shopitem .blur{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px !important;
    opacity: 0;
    background: rgba(0,0,0,0.4) !important;
    
    -webkit-transition:all 0.25s ease-out;
    -moz-transition:all 0.25s ease-out;
    
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
}

.shopitem:hover .blur{
    -webkit-transform:scale(105);
    -moz-transform:scale(105);
    opacity: 1;
}

.shopitem > .top{
    width:100%;
    min-height: 400px;
    -webkit-transition:all 0.25s ease-out;
    -moz-transition:all 0.25s ease-out;
}

.shopitem > .bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.3rem;
    height: 70px;
    background: #34495E; 
    z-index: 15;
}

.itemname, .itemprice{
    font-size: 1.6rem !important;
    color: #f1f1f1;
    line-height: 1.5rem;
}

.itemprice{
    color:#ff5722;
}

.size.active{
    background: #01579b;
}

h1.bigheading{
    font-family: Segoe UI, sans-serif;
    font-weight: bolder;
    font-size: 23rem;
    color: rgba(0,0,0,0.2);
    height: 170px;
}

.hidediv{
    height: 50px;
    width: 100%;
    background: #f7f7f7;
    position: absolute;
    margin-bottom: 50px;
    box-sizing: border-box;
}

#alertBox{
    position: fixed;
    bottom: -90px;
    left: calc(50% - 40%);
    z-index: 30;
    width: 80%;
    min-height: 70px;
    font-size: 1.7rem;
}

.alert.alert-success{
    border: 2px solid #27AE60;
}

.alert.alert-danger{
    border: 2px solid #E74C3C;
}

.profile{
    margin: 1rem auto;
    width: 90%;
    position: relative;
}

.item .listitemdesc{
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
}

.avatar{
    background: #34495E;
    background-image: url(/files/images/profile2.jpg);
    padding: 5rem;
    padding-left: 0px;
    border-bottom: 0.8rem solid #0288d1;
    border-top: 0.8rem solid #0288d1;
}

.avatar hr{
    border: 0;
    border-top: 5px solid rgba(230,230,230,0.09);
}

.profileimg > img{
    width: 50%;
    border-radius: 50% !important;
    box-shadow: 0px 0px 0px 8px rgba(240,240,240,0.9);
    background-color: rgba(40,40,40,0.6);
}

.profilename{
    font-size: 9rem;
    line-height: 8.4rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: right;
    font-weight: bolder;
    color: #0288d1;
}

.profileid{
    font-family: "Montserrat", sans-serif;
    font-size: 2.7rem;
    color: #ff5722;
    text-align: right;
}

.shoppinglist .item img{
    border: 6px solid #f2f2f2;
}

.customVideo{
    overflow: hidden;
    position: relative;
    width: auto;
}

.customVideo video{
    width: 100% !important;
    padding-bottom: 0px !important;
    margin-bottom: -1rem;
    background: transparent url('/files/images/vidbg3_1.png') no-repeat;
    background-position: center;
    //background-size: 120 120;
}

.customVideo .controls{
    position: absolute;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    //background: #34495E;
    bottom: 6px;
    left: -4px;
    box-sizing: border-box;
    -webkit-transition:all 0.4s ease-in;
    -moz-transition:all 0.4s ease-in;
}

.customVideo .controls table{
    padding-top: -1rem !important;
    height: 40px !important;
}

.customVideo .controls td{
    border:1px solid transparent;
    cursor: pointer;
    height: 40px !important;
}

.customVideo .controls td:nth-child(3){
    text-align: center;
    padding-left: 0.3rem;
}

.customVideo .controls .vidTrack{
    width: 100%;
    height: 12px;
    background: #ECF0F1;
    position: relative;
    border-radius: 15px;
    padding-right: 0.6rem;
    margin-top: 3px;
    overflow: hidden;
}

.customVideo .controls .audTrack{
    width: 100%;
    height: 12px;
    background: #ECF0F1;
    position: relative;
    border-radius: 15px;
    padding-right: 0.6rem;
    margin-top: 3px;
    overflow: hidden;
}

.customVideo .controls .audTrack .vidTrackFill, .customVideo .controls .vidTrack .vidTrackFill{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 14px;
    border-radius: 15px;
    background: #16A085;
}

.volume, .fullscreen{
    float: right;
}

.controls .time{
    font-family: "Ubuntu", sans-serif !important;
    font-size: 1.4rem;
    text-align: center;
    font-weight: normal;
    //margin-top: 1.5rem;
    color: #27AE60 !important;
}

.navbar{
    width: 100%;
    height: 50px;
    background: #34495E;
    border-left: 0.8rem solid #476481;
}

.navbar li{
    font-size: 1.6rem;
    min-width: 70px;
    display: inline-block;
    height: 50px;
    padding: 1rem;
    text-align: center;
    
}

.navbar li:hover{
    background: #3e5771;
}

.navbar li.active{
    background: #16A085;
}

.navbar li a{
    color: #f1f1f1;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 3rem;
}

.contact{
    margin: 1rem auto;
    width: 90%;
    position: relative; 
    display: table;
}

.belowhidediv{
    width: 100%;
    position:absolute;
    z-index:15;
    margin-top:-2rem; 
    background: #34495E;
    border-left: 0.8rem solid #476481;
    padding: 1rem;
    color: #f1f1f1;
}

.belowhidediv p{
    font-size: 1.8rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
}

.users{
    margin: auto;
    width: 80%;
}

.useravatar{
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 31%;
    
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
}

.avatargroup{
    display: table;
}

.avatargroup > .membercategory{
    width: 100%;
    height: 30px;
    padding: 1rem;
    border-left: 4px solid #009688;
    color: #a1a1a1;
    font-size: 1.6rem;
    line-height: 1rem;
    text-transform: uppercase;
    opacity: 0;
    margin-top: -1rem;
}

.memberanimate{
    -webkit-animation:popup 0.3s ease-out;
    -moz-animation:popup 0.3s ease-out;
}

@-webkit-keyframes popup {
     0% { -webkit-transform: scale(0); }
    70% { -webkit-transform: scale(1.2); }
   100% { -webkit-transform: scale(1); }    
}

@-moz-keyframes popup {
     0% { -moz-transform: scale(0); }
    70% { -moz-transform: scale(1.2); }
   100% { -moz-transform: scale(1); }    
}

.useravatar > img{
    width: 80%;
    border-radius: 50% !important;
    border: 8px solid rgba(200,200,200,0.3);
    margin-bottom: 0.5rem;
}

.avatardetails .name{
    text-transform: uppercase;
    color: #0277bd;
    font-size: 2rem;
    line-height: 1.4rem;
}

.avatardetails .team{
    line-height: 1rem;
}

.avatardetails .id{
    line-height: 1rem;
    color: #ef6c00;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.16);
}
 
::-webkit-scrollbar-thumb {
    background: #455a64;
    width: 1.3rem;
}

.infobar{
    padding: 0.9rem;
    background: #b3e5fc;
    border: 1px solid #81d4fa;
    border-left-width: 6px;
}